{% extends "@EshopUser/adminlayout.html.twig" %}


{% block nom %}
    {{ user.nom }}
{% endblock %}



{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}

    <div class="box-border">
        <table class="table table-bordered table-responsive cart_summary">

            <thead>
            <tr>
                <th >  Nom du propriétaire</th>
                <th class="cart_product">Produit</th>


                <th>Description</th>
                <th>Categorie</th>
                <th>etat</th>
                <th>prix</th>


                <th  class="action"><i class="glyphicon glyphicon-trash"></i></th>


            </tr>

            </thead>

            <tbody>
            {% for p in produit %}
                <tr>
                    <td class="cart_description">

                        {{ p.idmembre }}
                    </td>

                    <td class="cart_description">

                        {{ p.nom }}
                    </td>

                    <td class="cart_avail">{{ p.description }}</td>
                    <td class="cart_description">

                        {{ p.idCategorie.nomcat}}
                    </td>
                    <td class="qty">
                        {{ p.etat }}
                    </td>
                    <td class="price">
                        <span>{{ p.prix }}</span>DT
                    </td>



                    <td >
                        <a href="{{ path('esprit_suppA', { 'id': p.id }) }}" class="glyphicon glyphicon-remove"></a>
                    </td>



                </tr>
            {% endfor %}


            <!--
                                    <tr>
                                        <td class="cart_product">
                                            <a href="#"><img src="{{ asset('Template/assets/data/product-100x122.jpg') }}" alt="Product"></a>
                                        </td>
                                        <td class="cart_description">
                                            <p class="product-name"><a href="#">Frederique Constant </a></p>
                                            <small class="cart_ref">SKU : #123654999</small><br>
                                            <small><a href="#">Color : Beige</a></small><br>
                                            <small><a href="#">Size : S</a></small>
                                        </td>
                                        <td class="cart_avail"><span class="label label-success">In stock</span></td>
                                        <td class="price"><span>61,19 €</span></td>
                                        <td class="qty">
                                            <input class="form-control input-sm" type="text" value="1">
                                            <a href="#"><i class="fa fa-caret-up"></i></a>
                                            <a href="#"><i class="fa fa-caret-down"></i></a>
                                        </td>
                                        <td class="price">
                                            <span>61,19 €</span>
                                        </td>
                                        <td class="action">
                                            <a href="#">Delete item</a>
                                        </td>
                                    </tr>
                                    -->

            </tbody>

        </table>

    </div>


{% endblock %}