{% extends "@EshopUser/membrelayout.html.twig" %}
{% block class %}
<body class="category-class">

{% endblock class %}
{% block panier %}
{% set totalHT = 0 %}
{% set totalTTC = 0%}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->

        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading no-line">
            <span class="page-heading-title2">Mes factures</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">


            <div class="order-detail-content">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                    <tr>
                        <th class="cart_product">Product</th>
                        <th>Description</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for p in commande.commande.produit %}

                        <tr>
                            <form method="get">
                                <td class="cart_product">
                                    <a href="#"><img src="{{ asset('Template/' ~ p.photo ~'.jpg') }}" alt="Product"></a>
                                </td>
                                <td class="cart_description">
                                    <p class="product-name"><a href="#">{{ p.reference }} </a></p>
                                    <small class="cart_ref"></small><br>
                                    <small><a href="#">{{ p.description }}</a></small><br>
                                    <small><a href="#"></a></small>
                                </td>

                                <td class="price"><span>{{ p.prixHT }}DT</span></td>
                                <td class="qty">
                                    {{ p.quantite }}
                                </td>
                                <td class="price">
                                    <span>{{ p.prixHT * p.quantite }}DT</span>
                                </td>

                            </form>
                        </tr>
                        {% set totalHT = commande.commande.prixHT %}
                        {% set totalTTC = commande.commande.prixTTC %}
                    {% endfor %}
                    </tbody>
                    {% if commande.commande.produit|length != 0 %}
                        <tfoot>
                        <tr>
                            <td colspan="2" rowspan="2"></td>
                            <td colspan="2">Total products (tax incl.)</td>
                            <td colspan="2">{{ totalHT }} DT</td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Total</strong></td>
                            <td colspan="2"><strong>{{ totalTTC }} DT</strong></td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
                <div class="heading-counter warning"><dt class="pull-left">
                    <dt><h4>Adresse de livraison</h4>
                    <dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>
                    <dt>{{ commande.commande.livraison.adresse }}</dt>
                    <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }} - {{ commande.commande.livraison.pays }}</dt>
                    </dt>
                </div>


            </div>

        </div>
        <a href="{{ path('pdf', { 'id' : commande.id }) }}">  <button class="btn btn-default" type="button">Exporter en pdf</button></a>
    </div>

</div>


{% endblock panier %}