{% extends('@EshopUser/membrelayoutss.html.twig') %}
{% block c %}


    <div align="center">
    <div id="home-slider">
    <div class="container">
    <br>
    <div class="row">
    <div class="col-sm-3 slider-left"></div>

    <div class="homeslider">

    <div class="box-border">

    <div class="row">
    <div class="container">
    <div class="col-sm-6">


    <head>



        <style>
            table {
                border-collapse: collapse;
                width: 80%;
                margin: auto;

            }

            th, td {
                text-align: center;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}
        </style>
        <style>
            html, body {
                padding:0;
                margin:0;
                height:100%
            }
            #cache {
                position:absolute;
                background:rgba(0,0,0,0);
                top:0;
                right:0;
                bottom:0;
                left:0;
                z-index: -1;
                transition:background .5s
            }
            #cache:target {
                background:rgba(0,0,0,.5);
                z-index: 1;
            }
            .popup {
                position:absolute;
                z-index: 1000;
                display:none;
                top:150px;
                left:500px;
                right:500px;
            }
            .popup a {
                position:absolute;
                background: #333;
                color:#fff;
                border-radius: 50%;
                width:20px;
                line-height: 20px;
                text-align: center;
                font-family:arial;
                right:0;
                text-decoration: none;

            }
            #cache:target ~ .popup {
                display:block;
            }
        </style>


    </head>




    <h1>Mes produits</h1>

        <table class="table table-bordered table-responsive cart_summary">
    <thead>
    <tr>
        <th class="cart_product">Votre produit</th>
        <th>Description</th>
        <th>date debut</th>
        <th>date fin</th>
        <th>prix</th>
        <th>prix minimal</th>
        <th>catégorie</th>
        <th> Etat</th>
    </tr>

    </thead>
    <tbody>
    {% for echange in echanges %}

        <tr>
        <td>

            <a href><img src="{{ asset('images/products/' ~ echange.imageName) }}" width="80" height="50" style="float:right"   alt="..."></a>
        </td>

            <td>{{ echange.description }} </td>
            <td>{{ echange.datedeb|date }} </td>
            <td>{{ echange.datefin|date }} </td>
            <td>{{ echange.prix }} </td>
            <td>{{ echange.prixMinimal }} </td>
            <td>{{ echange.idcat.nomcat }} </td>
            <td>{{ echange.etat }}</td>
            <td><a href="{{ path('eshop_membre_MODechange', {'idech': echange.id }) }}">Modifier echange</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(echanges) }}
        </div>
        </div>
        <br>

    </div></div></div></div></div></div></div></div>
    {% endblock c %}